langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community
langchain_openai
langchain_experimental
fastapi
uvicorn
jinja2
openai
pypdf
sentence-transformers
transformers
pinecone-client
cohere
-e .
gunicorn
